.about-project {
  max-width: 89.1%;
  margin: 0 auto;
  padding: 110px 0;
}

.article-title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.6px;
  letter-spacing: -1px;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
}

.info-list {
  padding: 70px 0 110px 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 550px));
  grid-auto-flow: row;
  column-gap: 40px;
  list-style: none;
  margin: 0;
}


.info-list__header {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: -0.8px;
  margin: 0 0 26px 0;
}

.info-list__paragraph {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.date-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 228px 1fr;
}

.date-list__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background: #303030;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.date-list__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
  text-align: center;
  margin: 0;
  padding-top: 14px;
}

.date-list__title_type_green {
  background: #3DDC84;
  color: black;
}

@media screen and (max-width: 1024px) {
  .about-project {
    width: 87%;
    padding: 90px 0;
  }

  .info-list {
    padding-bottom: 90px;
  }

  .info-list__paragraph {
    font-size: 12px;
    line-height: 18px;
  }

  .date-list {
    grid-template-columns: 140px 1fr;
  }
}